<div id="popup-content" >
  <% var L = AD.lang.label.getLabelSpan %>
  <% var LT = AD.lang.label.getLabel %>
  <h4><%== L( 'opnavedit.MenuItemProperties' ) %></h4>
  <div class="form-horizontal">



    <!--Caption--> 
    <div class="form-group">
      <label class="col-sm-3 op-css-nopadL control-label op-css-lbl-title"><%== L('opnavedit.Label') %>:</label>
      <div class="col-sm-9">
        <input type="text" class="form-control" name="menuLabel" value="<%== LT( area.label) %>">
      </div>
    </div>
    <!--/Caption-->

    <!--Date-->
    <div class="form-group">
        <label class="col-sm-3 control-label op-css-nopadL op-css-lbl-title"><%== L('opnavedit.Icons') %>:</label>
        <div class="col-sm-9">
                <select class="form-control">
                          <option value="one">Special Icon Selector<option>
                          <option value="two">Two</option>
                          <option value="three">Three</option>
                          <option value="four">Four</option>
                          <option value="five">Five</option>
                </select> 
        </div>
    </div>
    <!--/Date-->

  </div>

  <button class="btn btn-primary" style="margin-right:20px"><%== L('opnavedit.Delete') %></button>
  <button class="btn btn-primary OK" style="margin-right:20px"><%== L('opnavedit.Cancel') %></button>
  <button id="save" class="btn btn-primary"><%== L('opnavedit.Save') %></button>
</div>