<!-- 
#  Appdev Label Info:
#label_context:opsportal
#language_code:en
-->
<div class="op-navbar-lpanel op-widget">
	<div style="display:none;">
	  Labels not in HTML but needed in tool:
	  <span app-label-key="opnavedit.Add">Add</span>
	  <span app-label-key="opnavedit.Save">Save</span>
	  <span app-label-key="opnavedit.Edit">Edit</span>
	</div>
    <!---->
    <ul id="op-navbar-left" class="op-list sortableMenu">
    	<% var L = AD.lang.label.getLabelSpan %>
    	<% can.each(areas, function(area,indx){ %>
        <li <%= (el) -> can.data(el, 'area', area) %> >
            <div class="sort-handle"><i class="fa fa-sort" aria-hidden="true"></i></div>
            <a  class="ops-navbar-menuItem" ><%== L( area.label) %>(<%= area.attr('weight') %>)</a>
            <i class="op-navbar-item-edit fa fa-pencil-square-o fa-2 showPopover" data-html="true" data-toggle="popover"aria-hidden="true"></i>
        </li>
    	<% }) %>
    </ul>
     <!--/-->
     <!---->       
    <ul class="op-list op-navbar-add">
          <li class="op-css-off-botm50"><a class="add showPopover" data-html="true" data-toggle="popover"><i class="fa fa-plus" aria-hidden="true"></i><%== L('opnavedit.Add') %></a></li>
          <li class="op-css-off-top20"><a class="op-navbar-save" href="#"><i class="fa fa-floppy-o" aria-hidden="true"></i><%== L('opnavedit.Save') %></a></li>
    </ul>                            
	<!--/-->                           

</div>