<div id="popup-content" >
  <% var L = AD.lang.label.getLabelSpan %>
  <h4><%== L( 'opnavedit.MenuItemProperties' ) %></h4>
  <div class="form-horizontal">



    <!--Caption--> 
    <div class="form-group">
      <label class="col-sm-3 op-css-nopadL control-label op-css-lbl-title"><%== L('opnavedit.Label') %>:</label>
      <div class="col-sm-9">
        <input type="text" class="form-control" name="label" value="<%== area.attr('label') %>">
      </div>
    </div>
    <!--/Caption-->

    <!--Date-->
    <div class="form-group">
        <label class="col-sm-3 control-label op-css-nopadL op-css-lbl-title"><%== L('opnavedit.Icons') %>:</label>
        <div class="col-sm-9">
                <input type="text" class="form-control" name="icon" value="<%== area.attr('icon') %>"><br><span><%== L('opnavedit.ex') %>:&nbsp;</span><span class="fa icon-example <%== area.attr('icon') %>"></span>
        </div>
    </div>
    <!--/Date-->

  </div>

  <button id="save" class="btn btn-primary op-nav-button-save pull-right"><i class="fa"></i><%== L('opnavedit.Save') %></button>
  <button class="btn btn-primary op-nav-button-cancel pull-right" style="margin-right:10px"><%== L('opnavedit.Cancel') %></button>
  <% if (!isAdd) { %>
  <button class="btn btn-primary  op-nav-button-del" style="margin-right:10px"><i class="fa"></i><%== L('opnavedit.Delete') %></button>
  <% } %>
  
</div>