<div id="popup-content" >
  <% var L = AD.lang.label.getLabelSpan %>
  <h4><%== L( 'opnavedit.ToolProperties' ) %></h4>
  <div class="form-horizontal">



    <!--Caption-->
    <div class="form-group">
      <label class="col-sm-3 op-css-nopadL control-label op-css-lbl-title"><%== L('opnavedit.Label') %>:</label>
      <div class="col-sm-9 input-group">
        <input type="text" class="form-control" name="label" value="<%== tool.attr('label') %>">
      </div>
    </div>
    <!--/Caption-->

    <!--Icon-->
    <div class="form-group opnavedit-popup-input">
      <label class="col-sm-3 control-label op-css-nopadL op-css-lbl-title"><%== L('opnavedit.Icons') %>:</label>
      <div class="col-sm-9 input-group">
          <input name="icon" data-placement="bottomRight" class="form-control" value="<%== tool.attr('icon') %>" type="text" />
          <span class="input-group-addon"></span>
      </div>
    </div>
    <!--/Icon-->

<!--
    <div class="form-group">
        <label class="col-sm-3 control-label op-css-nopadL op-css-lbl-title"><%== L('opnavedit.Permission') %>:</label>
        <div class="col-sm-9">
                <input type="text" class="form-control" value="<%== tool.attr('icon') %>">
        </div>
    </div>
-->
    <div class="form-group">
      <div class="checkbox">
        <label>
          <% var checked = "" %>
          <% if (tool.isDefault) checked = "checked"; %>
          <input name="isDefault" type="checkbox" <%= checked %> > <%== L('opnavedit.isDefaultTool') %>
        </label>
      </div>
    </div>

  </div>

  <button id="save" class="btn btn-primary op-nav-button-save pull-right"><i class="fa"></i><%== L('opnavedit.Save') %></button>
  <button class="btn btn-primary op-nav-button-cancel pull-right" style="margin-right:10px"><%== L('opnavedit.Cancel') %></button>
  <% if (!isAdd) { %>
  <button class="btn btn-primary  op-nav-button-del" style="margin-right:10px"><i class="fa"></i><%== L('opnavedit.Delete') %></button>
  <% } %>

</div>
