<!-- 
#  Appdev Label Info:
#label_context:opnavedit
#language_code:en
-->
<!--Edit Tools-->
<div id="op-navbar-edittools" class="col-lg-11 col-xs-9" style="display:none">

    <% can.each(areas, function(area, indx){ %>
        <ul id="" class="list-unstyled list-inline sortableMenu op-navbar-tool" area-tools="<%= area.attr('key') %>" <%= (el) -> can.data(el, 'area', area) %> style="display:none">
            <% can.each(area.tools, function(simpleTool, indx){ %>
                <% var tool = hashTools[simpleTool.id] %>
                <li <%= (el) -> can.data(el, 'tool', tool) %> data-weight="<%= tool.attr('weight') %>" >
                    <div class="sort-handle"><i class="fa fa-sort" aria-hidden="true"></i></div>
                    <a class="toollink" ><%= tool.attr('label') %>(<%= tool.attr('weight') %>)</a>
                    <i class="op-navbar-item-edit fa fa-pencil-square-o fa-2 showbtmPopover" data-html="true" data-toggle="popover" aria-hidden="true"></i>
                </li>  

            <% }) %>               
        </ul>  
    <% }) %>
                                   
  
        <ul class="ops-navbar-AddNewTool list-unstyled list-inline" style="display:none">
            <li>
              <div style="width:141px;float:left">
                <select class="ops-navbar-tooldeflist form-control">
                  <option selected="selected" >Add new tool<option>  
                </select> 
              </div>
            </li>  

        </ul>                 

</div>                
<!--/Edit Tools-->