<div>

<!-- OVERVIEW -->
<div id="feedback-overview">
    <div class="feedback-logo"><%= t('Feedback') %></div>
    <div id="feedback-overview-description">
        <div id="feedback-overview-description-text">
            <h3><%= t('Description') %></h3>
        </div>
    </div>
    <div id="feedback-overview-screenshot">
        <h3><%= t('Screenshot') %></h3>
    </div>
    <div class="feedback-buttons">
        <button id="feedback-submit" class="feedback-submit-btn feedback-btn-blue"><%= t('Submit') %></button>
        <button id="feedback-overview-back" class="feedback-back-btn feedback-btn-gray"><%= t('Back') %></button>
    </div>
    <div id="feedback-overview-error"><%= t('Please enter a description.') %></div>
    <div class="feedback-wizard-close"></div>
</div>

</div>